extends layout

block content
    div(class="card")
        div(class="card-header")
            h4 Message
        div(class="card-block w-75", style="height:300px;")
            p(class="card-text")
                each key in title
                    p= key.message
        button(href="https://frozen-lowlands-75250.herokuapp.com/newmessage", class="btn btn-success") Back to New Message