extends layout

block content
    h1= title
    form#formAddUser(name="addmessage",method="post",action="/addmessage")
        input#inputUserEmail(type="text", placeholder="email", name="usernumber")
        input#inputUserMessage(type="text", placeholder="message", name="usermessage")
        button#btnSubmit(type="submit") submit