extends layout

block content
    h1= title
    form#formAddUser(name="addmessage",method="post",action="/addmessage")
        div(class="form-group")
            input#inputUserEmail(class="form-control", type="text", placeholder="phone number", name="usernumber")
            input#inputUserMessage(class="form-control", type="text", placeholder="message", name="usermessage")
            button#btnSubmit(type="submit") submit
