extends layout

block content
    h1= title
    form#formAddUser(name="addmessage",method="post",action="/addmessage")
        div(class="form-group")
            h3 Enter your US cellphone number (no spaces, no country code)
            input#inputUserNumber(class="form-control", type="text", placeholder="phone number", name="usernumber")
            h3 Enter your text message
            input#inputUserMessage(class="form-control", type="text", placeholder="message", name="usermessage")
            button#btnSubmit(type="submit", class="btn btn-primary") submit
